<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wht.addekh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:name="com.wht.addekh.Helper.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/adddekhologo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/adddekhologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Addekho"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.wht.addekh.Activties.Template.AddTemplateFieldsActivity"
            android:exported="false" />

        <receiver
            android:name="com.wht.addekh.Helper.MyLocationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.wht.addekh.Notification.FirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.wht.addekh.Notification.ActivityNotification"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.MyStoreActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.ShowAdvertiesmentActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.CreateBannerActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.Template.TemplateCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.ActivityGetLocation"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.map_custom_search.PickLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.CityAreaActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.google_search.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.InitialActivity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.ProductListActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.CategorySearchActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.AddAdsActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.TemplateListActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.BannerListActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.AllCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.InitialActivity.ResendOtpActivity"
            android:exported="false" />
        <activity
            android:name="com.wht.addekh.Activties.BottomsheetImagePickerActivity"
            android:exported="false" />
        <activity android:name="com.wht.addekh.Activties.InitialActivity.OtpActivity" />
        <activity android:name="com.wht.addekh.Activties.ActivityAddStore" />
        <activity android:name="com.wht.addekh.Adapter.StoreListAdapter" />
        <activity
            android:name="com.wht.addekh.Activties.AddProductActivity"
            android:exported="true" />
        <activity
            android:name="com.wht.addekh.Activties.InitialActivity.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.wht.addekh.Activties.InitialActivity.GetStartedActivity"
            android:exported="true" />
        <activity
            android:name="com.wht.addekh.Activties.InitialActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wht.addekh.Activties.ProductDetailActivity" />
        <activity android:name="com.wht.addekh.MainActivity" />
        <activity android:name="com.wht.addekh.Activties.ActivityStoreList" />
        <activity android:name="com.wht.addekh.Activties.BottomsheetActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.wht.addekh.Helper.ImagePickerActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.wht.addekh.Activties.InitialActivity.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>